* {margin:0}
body {
    font-family:'Manrope', sans-serif;
    font-size:1em;
    background-color:#1f2039
}
a {
    color:#242424;
    text-decoration:none

}
nav a {
	margin:30px;
    width:100% ;
}
a:hover {
	text-decoration:underline;
}

header,
footer {
    background-color:white;
    padding:20px 50px;
	height:50px;
}
#logo{
    display: inline-block;
    width: 30%;

}
#menu{
   display: inline-block;
    width:65% ;
    text-align: right;
    
}
main{height:500px;}

footer {float: right;}
nav {

}

