/*ICT-293 - Exercice CV4 - CRT 13.11.2025*/
body{
	font-family:arial;
	font-size:20px;
	color:rgb(249,249,249);
	background-color:rgb(3,3,45);
}

header{
	width:800px;
	margin:auto;                        /*  marge extérieure */
	padding:20px;                       /*  padding intérieur */
}

h1{
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;        
	color:rgb(1,128,231);
}

h2{/*Toutes les balises h2*/
	font-family: "Lato", sans-serif; 
	color:white;
}
article h2{/*Les balises h2 qui se trouvent dans <article>*/
	color:rgb(0,27,73);
}

img{
	width:150px;
	display:cover;
}

section{
	padding:10px;                       /*  padding intérieur de la section */
	display:block;
	width:620px;
	margin:auto;
}

article{
	display:inline-block;               /*  alignement des blocs sur une ligne */
	vertical-align:top;                 /*  alignement des blocs sur le haut */
	background-color:rgb(1,128,231);
	border-top:5px solid grey;
	border-radius:20px;
	width:300px;
	height:320px;
	padding:20px;
	margin:10px;
}

ol,ul {
	padding-left:16px;                  /*  décalage a gauche des listes  */
	border-top:1px solid black;			/* ligne au-dessus des listes */
	padding-top:16px;
}

ol li{ 
	margin-bottom:20px;                 /*  marge du bas uniquement  */
	list-style:upper-roman;				/* https://www.w3schools.com/CSS/css_list.asp */
}

ul li{ 
	margin-bottom:20px;                 
	list-style:square;
}

a {
	color:#FFFFFF;
}
#top{
	
	#nav {
		/* Bandeau blanc de navigation*/
        width: 100%;
        background-color: white;
        }
        
ul {
		/* Alignement à gauche*/
		/* Marges Int. */
        padding: 15px 4px 17px 0;
		/* Enlever puces */     
        list-style: none;
        }

 ul li {            
          /* Mettre en ligne par branche principale */
          display: inline-block;
          /* Positionnement + Marges Int. */
          position: relative;
          padding: 15px 20px;
		  /* Etc. */
       }
ul li ul {
		/* Cacher les sous-menus */
        display: none;
		/* Affichage en bas des sous-menus*/
		/* Positionnement dans l'axe*/
        }
ul li:hover/* Mouvement souris */ {
		/* Montrer les sous-menus (souris) */
		background: #555;
		color: #fff;
        }
ul li ul li:hover/* Mouvement souris */ {
		background: #666;
		}
ul li:hover/* Mouvement souris */ ul {
          display: block;    
        }       
ul li ul li { 
		background: #a0938b;
		color: #fff;
		/* Afficher les sous-menus en blocs */
        display: block;
        /* Positionnement dans l'axe*/
		padding:0;
		left:0;
        }
ul li ul {/*Sous Menus*/
		/* 4 Cacher les sous-menus */
			display: none;
		/* Affichage en bas des sous-menus*/
		position:absolute;
		top:46px;
		width:200px;
		/* Positionnement dans l'axe*/
		padding:0;
		left:0;
        }
ul li {   /*Menu*/         
          /* 3 Mettre en ligne par branche principale */
          display:inline-block;
		  /* 8 Positionnement + Marges Int. */
		  position:relative;
		  padding:15px 20px;
		  /* 11 Etc. */
		  cursor:crosshair;
		  margin-right:-4px;
		  text-align:left;
}
}