<<<<<<< HEAD
h1{
    color:red;
}
h2{
    color:red;
}
h3{
    color:red;
=======
h1{
    color:red;
}
h2{
    color:red;
}
h3{
    color:red;
>>>>>>> fc6304791ce608ba2d1c963a0ad6b0333a4c5f10
}