* {margin:0}
body {
    font-family:'Manrope', sans-serif;
    font-size:1em;
    background-color:#1f2039
}
a {
    color:#242424;
    text-decoration:none
}
nav a {
	margin:30px;
}
a:hover {
	text-decoration:underline;
}
header,
footer {
    background-color:white;
    padding:20px 50px;
	height:50px;
}
#logo{
	display:block;
	float:left;
}
#menu{
	display:block;
	float:right;
	padding:10px;
}
main{height:500px;}

footer,
nav {

}

