/*MGK 8.12.2025*/

ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    background-color: lightgray;


}
li {
    list-style: none;
    padding: 10px;
    background-color: tomato;
}
li:nth-child(2){
    background-color: orange;

}
li:nth-child(3){
    background-color: blue;
    color : white;
    
}
li:nth-child(4){
    background-color: lightgreen;
    
}
li:nth-child(5){
    background-color: purple;
    color: aliceblue;
    
}
.pomme{
   flex-direction: column;

}
.poire{
    flex-direction: warp-reverse ;

}
.abricot{
    align-items: center;

}
.cerise{
    height: 10em;

}
p{
    margin: auto;
    padding: 10px;
    background-color: violet;
    height: 2em;
    
}
.kiwi li:nth-child(2){ order:3;}
.kiwi li:nth-child(3){ order:5;}